/*
* FP 2023-08-21
* Feuille de style de la page menu du jour
*/

h1 {
    text-align: center;
}

.lighterText {
    opacity: 0.8;

}

body {
    background-image: url("images/mariocook.jpg");
    
}

.desserts {
    border-style: solid;
}

.titre {
    color: blue;    
}

.titre:hover {
    color: forestgreen;    
}

.firstLetter {
    color: red;
}

.logo {
    width: 20px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.centerText {
    text-align: center;
}

.centerTextAlign {
    width:50%;
    margin: auto;   
}

table {

    border-collapse: collapse; /* Bordures du tableau collées (plus joli) */

}

th,td /* Toutes les cellules des tableaux... */ {

    border: 1px solid black; /* bordure 1px noire pleine */

}


