/*
* FP 2023-08-30
* Feuille de style de la page menu du jour
*/

h1 {
    text-align: center;
}

body {
    background-image: url("images/bgSiteWeb.jpg");
    
}

.titre {
    color: blue;    
}

.titre:hover {
    color: forestgreen;    
}

.firstLetter {
    color: red;
}

.progress { margin-left: auto; margin-right:auto; }





